.head
  .__head-in-box
.head2
.profile-main
  .senter-box
    = render 'profile-page/left'
    .right-content
      .__profile-box
        .__p-title
          プロフィール
      .__p-image
      .__foot-b0x
        .__small-b
          .__pr-text
          .__pr-submit
            .p-change_btn
              変更する