.head
  - breadcrumb :profile
  = render "layouts/breadcrumbs"
.head2
.main
  .senter-box
    = render 'profile-page/left'
    .right-content
      .__profile-box
        .__p-title
          プロフィール
      .__p-image
      .__foot-b0x
        .__small-b
          .__text
          .__submit
            .__btn
              変更する