.t-box_footers{
  width: 100%;
  height: 100%;
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
  .tbf-all__group{
    width: 100%;
    height: 100%;
    .tbf-field__banner{
      // background: url("https://i.gyazo.com/a05893d524d69c0d44c990f71e6774a6.jpg");
      background: url("https://i.gyazo.com/8bccb8ffa990fb6411ab509ac86d38a3.png");
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 260px;
      bottom: 391px;
    }
    .tbf-field__texts{
      height: 391px;
      width: 100%;
      background-color: #212121;
      bottom: 0px;
      .tbf-top__group{
        height: 298px;
        width: 1020px;
        margin: auto;
        padding: 0, 20px, 10px, 20px;
        display: flex;
        color: white;
        .__tbf-one-box{
          width: 204px;
          height: 251px;
          padding: 0 20px 0 0;
          width: 20%;
          .__tbf-one-top{
            margin-top: 18px;
          }
          .__tbf-one-link{
            color: gray;
          font-size: 12px;
          padding-top: 14px;
          }
          .__tbf-one-link-option{
          font-size: 26px;
          .icon{
            float:left;
            padding: 14px 10px 0 0;
          }
          }
        }
        .__tbf-two-box{
          width: 234.59px;
          height: 280;
          width: 23%;
          padding: 0 40px 0 0;
          .__tbf-two-top{
            margin-top: 18px;
          }
          .__tbf-two-link{
            color: gray;
          font-size: 12px;
          padding-top: 14px;
          }
        }
        .__tbf-three-box{
          width: 194.19px;
          height: 168px;
          padding-left: 10px;
          .__tbf-three-top{
            margin-top: 18px;
          }
          .__tbf-three-link{
            color: gray;
            font-size: 12px;
            padding-top: 14px;
          }
        }
        .__tbf-four-box{
          width: 194.19px;
          height: 168px;
          padding-left: 10px;
          .__tbf-four-link-top{
            color: gray;
            font-size: 12px;
            padding-top: 34px;
          }
          .__tbf-four-link{
            color: gray;
          font-size: 12px;
          padding-top: 14px;
          }

        }
        .__tbf-five-box{
          width: 96.83px;
          height: 88px;
          padding-left: 20px;
          .__tbf-five-top{
            margin-top: 18px;
          }
          .__tbf-five-link{
            color: gray;
            font-size: 12px;
            padding-top: 14px;
          }
        }
      }
      .tbf-field__bottom{
        height: 53px;
        width: 1020px;
        padding: 0px;
        margin: 30px auto 0;
        position:relative;
        display: flex;
        color: white;
        .tbf-bottom__number{
          width: 745px;
          font-size: 12px;
          text-align: center;
          padding-top: 14px;
          margin: left;
        }
      }
    }
    .tbf-field-btn{
      bottom: 32px;
      right: 32px;
      width: 160px;
      height: 160px;
      font-size: 22px;
      position: fixed;
      z-index: 1000;
      border-radius: 50%;
      background: #ea352d;
      color: #fff;
      text-align: center;
      text-decoration: none;
      &:hover{
          cursor: pointer;
        }
      .tbf-btn__title{
        margin: 32px 0 0;
      }
      .tbf-btn__icon{
        margin: 8px 0 0;
        font-size: 54px;
        display: inline-block;
        font-family: 'icon-font';
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
