.main-main{
  width: 100%;
  height: 100%;
}

.kaiin_page{
  background-color:rgb(245, 245, 245)

}
  .kaiin_logo{
    float:left;
    margin-left: 350px;
    margin-top: 40px;
  }
  .progress_var{
    padding: 20px 0 0 44px;
    display: flex;
    max-width: 600px;
    position: relative;
    text-align: center;
    font-size: 12px;
    }
    .progress {
      padding: 20px 0 0 4px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      &-bar{
        margin: 0;
        li{
          margin: 0 40px 0 0;
          padding: 0;
          position: relative;
          z-index: 40;
          display: inline-block;
          min-width: 60px;
          font-size: 12px;
          color: gray;
          .progress-status{
            position: absolute;
            left: 40%;
            width: 12px;
            height: 12px;
            margin: 2px auto 0;
            background: gray;
            border-radius: 50%;
            z-index: 30;
          }
        }
      }
    }

  // デフォルトのプログレスバー
  .progress-status_bar {
    position: absolute;
    left: 50%;
    top: 25px;
    bottom: 5px;
    display: block;
    // width: 120px;
    width:170%;
    height: 2px;
    background: gray;
    z-index: 10;
  }
  .end .progress-status_bar {
    width: 0px;
  }
  #through1{
    color: #ea352d;
    .progress-status{
      background: #ea352d;
    }
  }

  .nyuryoku_boxes{
    background-color:white;
    // background-color:orange;
    width: 700px;
    // width:50%;
    margin:0px auto;
    margin-top:100px;
    .lead_box01{
      border-bottom: solid 1px #F5F5F5;
      text-align: center;
      font-size: 22px;
      padding-top: 32px;
      font-weight: bold;
      // width: 100%;
      // .main_box02{
      //   padding: 40px 40px 64px;
      //   // display: block;
      //   margin:0px auto;
      //   width: 50%;
      //   // float:left;
      //   // text-align: center;
      //   // background-color:green;
      //   // input {
      //   //   height: 28px;
      //   //   width: 309px;
      //   //   padding: 10px 16px 8px;
      //   //   border-radius: 4px;
      //   //   border: 1px solid #ccc;
      //   //   background: #fff;
      //   //   line-height: 1.5;
      //   //   font-size: 16px;
      //   // }
      //   & span{
      //     margin: 5px;
      //     padding: 2px 4px;
      //     border-radius: 2px;
      //     color: #fff;
      //     font-size: 12px;
      //     background-color: #ea352d;
      //     // display: inline-block;
      //   }
      //   .main_box2_left{
      //     width: 100%;
      //     float:left;
      //   .nickname{
      //     // width: 150px;
      //     margin: 10px 130px;
      //     clear: both;
      //   }
      //   .mail_adress{
      //     // width: 100%;
      //     // width: 190px;
      //     margin: 10px 130px;
      //   }
      //   .password_01{
      //     // width: 100%;
      //     // width: 130px;
      //     margin: 10px 130px;
      //   }
      //   .password_02{
      //     // width: 200px;
      //     // width: 100%;
      //     margin: 10px 130px;
      //   }
    }
    .main_box02{
      padding: 40px 40px 64px;
      display: block;
      text-align: center;
      input {
        height: 28px;
        width: 309px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .spans{
        margin: 5px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        background-color: #ea352d;
        display: inline-block;
      }
      .main_box2_left{
            width: 100%;
            float:left;
      .nickname{
        width: 150px;
        margin: 10px 130px;
        clear: both;
      }
      .mail_adress{
        width: 190px;
        margin: 10px 130px;
      }
      .password_01{
        width: 130px;
        margin: 10px 130px;
      }
      .password_02{
        width: 200px;
        margin: 10px 130px;
      }
      .no_bot{
        text-align: center;
        // float:center;
        margin: 24px 0 0;
        width: 80%;
        // width: 284px;
        height: 78px;
        // transform: none;
        border: 1px solid #ccc;
        padding: 0px 20px;
        display: flex;
        margin-left: 135px;
      }
      .next_btn{
        height: 50px;
        // width: 50%;
        width: 100%;
        // width: 315px;
        margin-top: 40px;
        margin: 40px 200px 0px 140px;
        background-color:#ea352d;
        border:1px solid #ea352d;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        line-height: 48px;
          .main_box2_btn{
            background-color:#ea352d;
        border:1px solid #ea352d;
          }
        }
      }
      }
    }