
.kaiin_page
  .kaiin_logo
    = image_tag 'logo.jpg', size: '200x60'
  .progress_var


  .nyuryoku_boxes
    .lead_box01
      会員情報入力
    .main_box02
      .nickname
        ニックネーム
      .mail_adress
        メールアドレス
      .password_01
        パスワード
      .password_02
        パスワード（確認）
      .no_bot
        私はロボットではありません。
      .next_btn
        次へ進む

  .footer
    .footer__box
      %ul
        %li
          プライバシーポリシー &nbsp;&nbsp;  メルカリ利用規約 &nbsp;&nbsp; 特定商取引に関する表記
        %li
          = image_tag 'gray-logo.jpg', size: '90x80'
        %li ©︎2019 Mercari