.backbox
  .logo
    = image_tag 'logo.jpg', size: '200x60'

  .new_user
    .ch_box
      .ch_group
        .ch_title
          会員登録完了
    .cm_box
      .cm_group
        .cm_message
          ありがとうございます｡
          %br
          会員登録が完了しました｡
    .cf_box
      .cf_group
        .cf_btn
          = link_to "メルカリをはじめる", root_path,class: "cf-btn-title"

  .footer
    .footer__box
      %ul
        %li
          プライバシーポリシー &nbsp;&nbsp;  メルカリ利用規約 &nbsp;&nbsp; 特定商取引に関する表記
        %li
          = image_tag 'gray-logo.jpg', size: '90x80'
        %li ©︎2019 Mercari