-# .box
-#   .header
-#     = render 'top-page/header'
-#   .main
-#     = render 'top-page/main'
-#   .footer-box
-#     = render 'top-page/footer'
.box
  .p-box_main
    = render 'profile-page/main'