-# .box
-#   .header
-#     = render 'top-page/header'
-#   .main
-#     = render 'top-page/main'
-#   .footer-box
-#     = render 'top-page/footer'
.box
  .mypage
    = render 'top-page/kakuninn/main'