.box
  .t-box_headers
    = render 'top-page/header'
  - breadcrumb :profile
  = render "layouts/breadcrumbs"
  .p-box_main
    = render 'profile-page/profile'
  .t-box_footers
    = render 'top-page/footer'