.box
  .head
  .head2
  .main
    .senter-box
      .left-content
      .mypage-box
        .__user
        .__announce
          .__mp-tabs
            .__notice
              お知らせ
            .__todoing
              やることリスト
          .__details
            .__details-list
            

          .__list-btn
            .__list-btn-act
        .__local
          .__purchase
          .__transaction
            .__t-current
            .__t-past
          .__trading