.banner
.footer
  .fotter-group
    .__one
      .__link-one
        メルカリについて
      .__link-two
        会社概要（運営会社）
      .__link-three
        採用情報
      .__link-four
        プレリリース
      .__link-five
        公式ブログ
      .__link-six
        メルカリロゴ利用ガイドライン
      .__link-seven
        = fa_icon 'twitter', class: 'icon'
        
        = fa_icon 'facebook-square', class: 'icon'

        
    .__two
      .__guide-one
        ヘルプ＆ガイド
      .__guide-two
        メルカリガイド
      .__guide-three
        らくらくメルカリ便
      .__guide-four
        ゆうゆうメルカリ便
      .__guide-five
        大型メルカリ便
      .__guide-six
        車体取引ガイド
      .__guide-seven
        メルカリあんしん・あんぜん宣言！
      .__guide-eight
        偽ブランド品撲滅への取り組み
      .__guide-nine
        メルカリボックス

    .__three
      .__rules-one
        プライバシーと利用規約
      .__rules-two
        プライバシー
      .__rules-three
        メルカリ利用規約
      .__rules-four
        あんしんスマホサポート制度に関する利用特約
      .__rules-five
        コンプライアンスポリシー

    .__four
      .__rules-six
        個人データの安全管理に係る基本方針
      .__rules-seven
        特定商取引に関する表記
      .__rules-eight
        資金決済法に基づく表示
      .__rules-nine
        法令順守と犯罪抑止のために

    .__five
      .__Country-one
        国
      .__Country-two
        日本
      .__Country-three
        United States

  .foter-bottom
    .__logo
      %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?863303983", :width => "124"}/
    .__number
      ©2019 mercari
.footer-camera-btn
  .__div
    出品
  .__link-camera
    = fa_icon 'camera', class: 'icon'