.tbf-all__group
  .tbf-field__banner
  .tbf-field__texts
    .tbf-top__group

      .__tbf-one-box
        .__tbf-one-top
          メルカリについて
        .__tbf-one-link
          会社概要（運営会社）
        .__tbf-one-link
          採用情報
        .__tbf-one-link
          プレリリース
        .__tbf-one-link
          公式ブログ
        .__tbf-one-link
          メルカリロゴ利用ガイドライン
        .__tbf-one-link-option
          = fa_icon 'twitter', class: 'icon'
          = fa_icon 'facebook-square', class: 'icon'

      .__tbf-two-box
        .__tbf-two-top
          ヘルプ＆ガイド
        .__tbf-two-link
          メルカリガイド
        .__tbf-two-link
          らくらくメルカリ便
        .__tbf-two-link
          ゆうゆうメルカリ便
        .__tbf-two-link
          大型メルカリ便
        .__tbf-two-link
          車体取引ガイド
        .__tbf-two-link
          メルカリあんしん・あんぜん宣言！
        .__tbf-two-link
          偽ブランド品撲滅への取り組み
        .__tbf-two-link
          メルカリボックス

      .__tbf-three-box
        .__tbf-three-top
          プライバシーと利用規約
        .__tbf-three-link
          プライバシー
        .__tbf-three-link
          メルカリ利用規約
        .__tbf-three-link
          あんしんスマホサポート制度に関する利用特約
        .__tbf-three-link
          コンプライアンスポリシー

      .__tbf-four-box
        .__tbf-four-link-top
          個人データの安全管理に係る基本方針
        .__tbf-four-link
          特定商取引に関する表記
        .__tbf-four-link
          資金決済法に基づく表示
        .__tbf-four-link
          法令順守と犯罪抑止のために

      .__tbf-five-box
        .__tbf-five-top
          国
        .__tbf-five-link
          日本
        .__tbf-five-link
          United States

    .tbf-field__bottom
      .tbf-bottom__logo
        %img{alt: "mercari", height: "33", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?863303983", width: "124"}/
      .tbf-bottom__number
        ©2019 mercari
  .tbf-field-btn
    .tbf-btn__title
      出品
    .tbf-btn__icon
      = fa_icon 'camera', class: 'tbf-icon'