.header_box
  .header_box__logo-and-input
    = image_tag("mercari_logo_horizontal",class:"header_box__logo-and-input__logo" )
    %form.header_box__logo-and-input__form
      %input{class: "header_box__logo-and-input__form__input", placeholder: "何かお探しですか？"}
      %input{type: "submit", id: "header_box__logo-and-input__form__input", value: "何かお探しですか？", class: "header_box__logo-and-input__form__input__search"}
      %label{for: "header_box__logo-and-input__form__input"}
        = fa_icon "search", :class => "header_box__logo-and-input__form__input__search_btn"
  .header_box__how-to__look-for
    %ul.header_box__how-to__look-for_list
      %li
        %i.fa.fa-list-ul{"aria-hidden" => "true"}
        %a.header_box__how-to__look-for_list_btn カテゴリーから探す

      %li
        %i.fa.fa-tag{"aria-hidden" => "true"}
        %a.header_box__how-to__look-for_list_btn ブランドから探す
  .header_box__userbox
    %ul.header_box__userbox_user
      %li
        %a.header_box__userbox_user_signup ログイン
      %li
        %a.header_box__userbox_user_login 新規会員登録
