.tbm-all__group
  .tbm-filed__image
    %ul.slides
      %li
        = image_tag "image01.jpg", size: "800x400"

  .tbm-filed__topic
    .tbm-topic__title
      ピックアップカテゴリー

  .tbm-filed__content
    .tbm-group__title
      レディース新着イテム

    .tbm-group__containers
      = render partial: 'items/items'

    .tbm-group__more
      %a.tbm-more__link
        すべての商品を見る